<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ModelRE" connectionString="data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EntitiesRealEstate" connectionString="metadata=res://*/Models.ModelRealEstate.csdl|res://*/Models.ModelRealEstate.ssdl|res://*/Models.ModelRealEstate.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RE_Entities" connectionString="metadata=res://*/RE_Model.csdl|res://*/RE_Model.ssdl|res://*/RE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RE_Ent" connectionString="metadata=res://*/RE_model.csdl|res://*/RE_model.ssdl|res://*/RE_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RE_Entie" connectionString="metadata=res://*/Models.RE_model.csdl|res://*/Models.RE_model.ssdl|res://*/Models.RE_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RE_Enti" connectionString="metadata=res://*/Models.RE_Model.csdl|res://*/Models.RE_Model.ssdl|res://*/Models.RE_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Models.RE_model.csdl|res://*/Models.RE_model.ssdl|res://*/Models.RE_model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-1G57O2A;initial catalog=pr-22.107k-gorsh-3-realEstate;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>